<!DOCTYPE html>
<html>
  <head>
    <title>SteemKitties</title>
    <meta charset="UTF-8">
    <meta name="description" content="SteemKitties is a Decentralized Story Hub for Your CryptoKitties, based on Steem blockchain.">
    <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!--server:header-->
    <!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  </head>
  <body>
    <div id="app"><!--server:html--></div>
    <!--server:scripts-->
    <script
  src="//code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=Intl.~locale.en,Intl.~locale.zh,Intl.~locale.fr,Intl.~locale.de,Intl.~locale.ru,Intl.~locale.ko,Intl.~locale.nl"></script>
  <script type="text/javascript" src="https://cdn.rawgit.com/clairestovall/CryptoKittyCase/1.0.2/script.js"></script>
  <link rel="stylesheet" href="https://cdn.rawgit.com/clairestovall/CryptoKittyCase/1.0.2/stylesheet.css">
 
  <script>
    $(document).ready(function() {
      
      $('.Editor').html('<div id="cryptokitties"></div>');
      
      const MY_ADDRESS = '0x519870e6cce87c4933981e91164e675a8b5a5b61';
      $('#cryptokitties').cryptoCase(MY_ADDRESS);
    });
  </script>
  
  </body>
</html>
